*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.background_style{
    width: 100%;
    height: 100vh;
}

.background_style img{
    width: 100%;
    height: 99vh;
    background: cover no-repeat;
    filter: blur(10px);
}
.exchange_section{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  6px 6px 22px #333,
                 -6px -6px 22px #333;
}

